<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.saving.mapper.SavingAccountMapper">

    <insert id="insertAccount" parameterType="org.scoula.saving.domain.SavingAccountVO"
            useGeneratedKeys="true" keyProperty="accountId">
        INSERT INTO saving_account (
            user_id, bank_code, monthly_save, monthly_count, curr_amount, account_status,
            created_date, created_nm, del_yn
        ) VALUES (
            #{userId}, #{bankCode}, #{monthlySave}, #{monthlyCount},
            #{currAmount}, #{accountStatus}, NOW(), #{createdNm}, 'N'
        )
    </insert>

</mapper>
