/* @import './base.css'; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  font-family: 'Noto Sans KR';
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.avatar {
  border-radius: 50%;
  border-color: gray;
  background-color: #d8d8d8;
}
.avatar-sm {
  width: 20px;
  height: 20px;
}
.avatar-md {
  width: 40px;
  height: 40px;
}
.avatar-lg {
  width: 80px;
  height: 80px;
}
