<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.member.mapper.MemberMapper">

    <select id="get" resultType="MemberVO">
        SELECT id, user_id, password, name, phone, type_id, rank_id,
               unit_name, unit_code, enlist_date, discharge_date,
               login_provider, status, withdrawn_at,
               created_date, created_nm, modified_date, modified_nm, del_yn
        FROM `user`
        WHERE user_id = #{userId}
          AND del_yn = 'N'
    </select>

    <select id="findByUserId" resultType="MemberVO">
        SELECT id, user_id
        FROM `user`
        WHERE user_id = #{userId}
          AND del_yn = 'N'
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user`
            (user_id, password, name, phone, type_id, rank_id,
             unit_name, unit_code, enlist_date, discharge_date,
             login_provider, status, created_date, created_nm, del_yn)
        VALUES
            (#{userId}, #{password}, #{name}, #{phone}, #{typeId}, #{rankId},
             #{unitName}, #{unitCode}, #{enlistDate}, #{dischargeDate},
             #{loginProvider}, #{status}, NOW(), #{userId}, 'N')
    </insert>

</mapper>
