<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.member.mapper.TermsMapper">

    <select id="findAll" resultType="TermsVO">
        SELECT terms_id, name, required, content, version,
               created_date, created_nm, modified_date, modified_nm, del_yn
        FROM terms
        WHERE del_yn = 'N'
        ORDER BY terms_id
    </select>

    <select id="findRequiredIds" resultType="long">
        SELECT terms_id
        FROM terms
        WHERE required = true
          AND del_yn = 'N'
    </select>

    <insert id="insertAgreement">
        INSERT INTO terms_agreement
            (user_id, terms_id, agreed, agreed_date, terms_version, created_date, created_nm, del_yn)
        VALUES
            (#{userId}, #{termsId}, #{agreed}, NOW(), #{termsVersion}, NOW(), #{createdNm}, 'N')
    </insert>

</mapper>
